apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
  annotations:
    networking.gke.io/load-balancer-type: "External"
spec:
  selector:
    app: iris-api
  type: LoadBalancer
  ports:
    - name: http
      port: 8200
      targetPort: 8200
